# Ключ API!
VK_API_KEY="КлючикОтAPI"
# id беседы в группе, находится при заходе в беседу через настройки сообщества
# https://vk.com/gim1234?sel=c1
# в этой ссылке id беседы 1,
VK_TALK_ID=1
# Режим отладки(показ ошибок), если не нужен, удалите переменную окружения или сделайте её пустой
DEBUG=
# Неиспользуется, может использоваться в будущем для задержки между отправлением анкет(в секундах)
DELAY=300
